<ion-list>
  <form [formGroup]="usuario">
      <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input formControlName="email" autocapitalize="off"></ion-input>
      </ion-item>
      <ion-label color="danger" *ngIf="usuario.controls.email.errors?.email && (usuario.touched || usuario.dirty)">* El email no es válido.</ion-label>
      <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>
      <ion-label color="danger" *ngIf="usuario.controls.password.errors?.minlength && (usuario.touched || usuario.dirty)">*La contraseña debe tener al menos 4 caracteres</ion-label>
      <div class="ion-padding">
          <ion-button [disabled]="!usuario.valid" (click)="login()" type="submit" color="primary" expand="block">Login</ion-button>
          <ion-button [disabled]="!usuario.valid" (click)="signin()" type="submit" color="secondary" expand="block">Dar de alta</ion-button>
      </div>
  </form>
</ion-list>
