<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <a href="https://www.google.es">Ir a Google</a>
  <ion-button >Bienvenida</ion-button>
<ion-button shape="round">Bienvenida</ion-button>
<ion-button >
  <ion-icon slot="icon-only" name="construct-outline"></ion-icon>Herramientas</ion-button>
<ion-button>
  <ion-icon slot="icon-only" name="heart"></ion-icon>
</ion-button>
<ion-button fill="clear">Bienvenida</ion-button>
<ion-button size="large">Bienvenida</ion-button>
</ion-content>
